<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net4" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net4" />
  <package id="NHtmlUnit" version="2.15.0.0" targetFramework="net40" />
</packages>